{% extends "base.html" %}

{% block content %}
<div class="yellowblock" style="position:absolute;top:90px;left:20%;z-index: -1;">
    <h1>Добавление анекдота</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.anecdote.label }}<br>
            {{ form.anecdote(class="form-control") }}<br>
            {% for error in form.anecdote.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
        {{ form.boards.label }}<br>
        {{ form.boards(class="form-control") }}<br>
        {% for error in form.boards.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        </p>
        <p>
        {{ form.source.label }}<br>
        {{ form.source(class="form-control") }}<br>
        {% for error in form.source.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        <p>
        {{ form.category.label }}<br>
        {{ form.category(class="form-control") }}<br>
        {% for error in form.category.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        </p>
        {% if message %}<div class="errmessage">{{message}}</div>{% endif %}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}
