<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>{{title}}</title>
</head>
<header>
    <a href="/">
    <div class="logo"><img src="/static/img/logo.png" style="width:60px;height:auto;"></div>
    <div class="memterest">MEMTEREST</div></a>
    <div class="avatar"><a href={% if current_user == None %}"/register"
                                {% else %}"/user/{{ current_user.id }}"
                                {% endif %}>
        <img src={% if current_user == None or not current_user.photo_filename %}"/static/img/defaultavatar.png"
                 {% else %}"/{{ current_user.photo_filename }}"
                 {% endif %}
             style="overflow:hidden;width:50px;height:50px;border-radius: 100%;">
        </a>
    </div>
    {% if current_user == None %}<a href="/register"><div class="redbtn" style="float:right">Регистрация</div></a>
                                 <a href="/login"><div class="redbtn" style="float:right">Вход</div></a>
    {% else %}<a href="/new_pin"><div class="redbtn" style="float:right">Добавить мем</div></a>
              <a href="/new_anecdote"><div class="redbtn" style="float:right">Добавить анекдот</div></a>
    {% endif %}
    <a href="/categories"><div class="yelbtn" style="float:right">Категории</div></a>
    <a href="/search"><div class="yelbtn" style="float:right">Поиск</div></a>
</header>
<body>
<br><br><br>
{% block content %}
{% endblock %}
</body>
</html>
