<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>{{title}}</title>
</head>
<header>
    <a href="/">
    <div class="logo"><img src="../static/img/logo.png" style="width:60px;height:auto;"></div>
    <div class="memterest">MEMTEREST</div></a>
    <div class="avatar"><img src="../static/img/defaultavatar.png"
                             style="width:50px;height:auto;border-radius: 100%;"></div>
</header>
<body>
<br>f<br>f<br>f<br>f<br>f<br>f<br>f<br>f<br>f<br>f<br>f<br>f<br>f<br>f<br>f
{% block content %}
{% endblock %}
</body>
</html>
