{% extends "base.html" %}
{% block content %}
<div class="yellowblock" style="position:absolute;top:90px;left:20%;z-index: -1;">
    <h1> Восстановление пароля </h1>
    <form class="login_form" method="post">
        {% if message %}
            <div>Пользователь не найден</div>
        {% endif %}
        <input type="email" class="form-control" id="email" placeholder="Введите email" name="email">
        <button type="submit" class="btn btn-primary">Восстановить пароль</button>
    </form>
    <p> Чтобы восстановить пароль, введите почту, к которой привязан аккаунт.</p>
    <p> На неё придёт письмо с ссылкой для сброса пароля.</p>
</div>

{% endblock %}
