{% extends "base.html" %}
{% block content %}

{% block info %}
{% endblock %}

<div style="position:relative;top:30px;width:100%;">
    <div style="position:absolute;left:3%;z-index: -1;width:28%;">
    {% for post in posts %}
        {% if loop.index%3==0 %}
        <div class="yellowblock" style="margin-bottom: 20px;width:100%;padding:15px;">
            {% if post.type == 'mem' %}
                <a href="/pin/{{post.id}}">
                <img src="../{{post['mem']}}" alt="{{post['alt']}}" width="100%">
                    <h1>{{ post.title }}</h1>
                </a>
            {% elif post.type == 'anec' %}
                <a href="/anec/{{post.id}}">
                {% for t in post.text %}
                    <p> {{ t }} </p>
                {% endfor %}
                    <h1>{{ post.title }}</h1>
                </a>
            {% endif %}
            <a href="/user/{{ post.author.id }}"><p>{{ post.author.username }}</p></a>
        </div>
        {% endif %}
    {% endfor %}
    </div>

    <div style="position:absolute;left:36%;z-index: -1;width:28%;">
    {% for post in posts %}
        {% if loop.index%3==1 %}
        <div class="yellowblock" style="margin-bottom: 20px;width:100%;padding:15px;">
            {% if post.type == 'mem' %}
                <a href="/pin/{{post.id}}">
                <img src="../{{post['mem']}}" alt="{{post['alt']}}" width="100%">
                    <h1>{{ post.title }}</h1>
                </a>
            {% elif post.type == 'anec' %}
                <a href="/anec/{{post.id}}">
                {% for t in post.text %}
                    <p> {{ t }} </p>
                {% endfor %}
                    <h1>{{ post.title }}</h1>
                </a>
            {% endif %}
            <a href="/user/{{ post.author.id }}"><p>{{ post.author.username }}</p></a>
        </div>
        {% endif %}
    {% endfor %}
    </div>

    <div style="position:absolute;left:67%;z-index: -1;width:28%;">
    {% for post in posts %}
        {% if loop.index%3==2 %}
        <div class="yellowblock" style="margin-bottom: 20px;width:100%;padding:15px;">
            {% if post.type == 'mem' %}
                <a href="/pin/{{post.id}}">
                <img src="../{{post['mem']}}" alt="{{post['alt']}}" width="100%">
                    <h1>{{ post.title }}</h1>
                </a>
            {% elif post.type == 'anec' %}
                <a href="/anec/{{post.id}}">
                {% for t in post.text %}
                    <p> {{ t }} </p>
                {% endfor %}
                    <h1>{{ post.title }}</h1>
                </a>
            {% endif %}
            <a href="/user/{{ post.author.id }}"><p>{{ post.author.username }}</p></a>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="redbtn">
        {% if back > -1 %}
            {% if cat != 0 %}
                <a href="/categories/{{cat}}/{{back}}"><img src="../static/img/arrowleft.png"></a>
            {% else %}
                <a href="/{{back}}"><img src="../static/img/arrowleft.png"></a>
            {% endif %}
        {% endif %}
        {% if forward > -1 %}
            {% if cat != 0 %}
                <a href="/categories/{{cat}}/{{forward}}"><img src="../static/img/arrowright.png"></a>
            {% else %}
                <a href="/{{forward}}"><img src="../static/img/arrowright.png"></a>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}
