{% extends "base.html" %}
{% block content %}

<h1>{{ anec.title }}</h1>
<div>
    {{ anec.text }}
</div>

<div>
    <a href="/user/{{ anec.user_id }}">
        <p>Автор - {{ username }}</p>
    </a>
    <a href="{{ anec.source }}">
        {% if anec.source == '' %}
            <p>Источник - не указан</p>
        {% else %}
            <p>Источник - {{anec.source}}</p>
        {% endif %}
    </a>
    {% if current_user.id == anec.user_id %}
        <a href="/delete_anec/{{anec.id}}">
            <div class="redbtn">Удалить анекдот</div>
        </a>
    {% endif %}
</div>

{% endblock %}
