{% extends "pins.html" %}
{% block info %}

<div class="yellowblock" style="position:relative;top:10px;left:20%;z-index: 5;">
    <a href="/user/{{ board.user.id }}">  <! не работает кста >
        <img src={% if not board.user.photo_filename %}"../static/img/defaultavatar.png"
        {% else %}"../{{ board.user.photo_filename }}"
        {% endif %} style="position:relative;overflow:hidden;
                           width:10%;height:10%;border-radius: 100%;float:right;z-index:1;"/></a>
        </a>
    <a href="/user/{{ board.user.id }}">  <! и эта тоже >
    <p style="position:relative;float:right;margin:12px;">{{board.user.username}}</p>
    </a>
    <h1> {{board.name}} </h1>
    <div>
        <p>{{board.description}}</p>
    </div>
    <div>
        {% if collaborators[0] %}
            <p>Соавторы:</p>
            {% for user in collaborators %}
                <a href="/user/{{user.id}}">
                    <p> {{ user.username }} </p>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
