{% extends "base.html" %}
{% block content %}

<div class="yellowblock" style="position:absolute;top:90px;left:20%;z-index: -1;">
{% if boards %}
<form method="post">
    <select name="board">
        {% for board in boards %}
        <option value="{{board.id}}">{{board.name}}</option>
        {% endfor %}
    </select>
    <button type="submit">Сохранить</button>
</form>
{% endif %}
<h1>{{ mem.title }}</h1>
<div>
    <img src="../{{ mem.mem_filename }}" width="100%">
</div>

<div>
    <a href="/user/{{ mem.user_id }}">
        <p>Автор - {{ username }}</p>
    </a>
    <a href="{{ mem.source }}">
        {% if mem.source == '' %}
            <p>Источник - не указан</p>
        {% else %}
            <p>Источник - {{mem.source}}</p>
        {% endif %}
    </a>
    {% if current_user.id == mem.user_id %}
        <a href="/delete_mem/{{mem.id}}">
            <div class="redbtn">Удалить мем</div>
        </a>
    {% endif %}
</div>
</div>

{% endblock %}
